*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    margin-top: 20px;
    /* for debug */
    /* height: 100px; */
    /* background-color: violet; */
}
.header > img{
    width: 150px;
}
.header li{
    display: inline-block;
}
li a{
    text-decoration: none;
}
.section-first{
    width: 100%;
    margin-top: 30px;
    /* for debug */
    height: 300px;
    background-color: orange;
}
.section-second{
    width: 100%;
    margin-top: 30px;
    /* for debug */
    background-color: blue;
}
.first-row{
    width: 100%;
    /* for debug */
    height: 100px;
    background-color: lightblue;
}
.second-row{
    width: 100%;
    margin-top: 20px; 
    background-color: blue;
    /* for debug */
    /* height: 300px; */
    /* border: solid 2px black; */
}
.first-col, .mid-col ,.last-col{
    float: left;
    /* for debug */
    margin-bottom: 2%;
    height: 500px;
    background-color: lightblue;
    /* border: solid black 2px; */
}
.first-col, .mid-col{
    margin-right: 2%;
}
.first-col, .last-col{
    width: 23%;
}
.mid-col{
    width: 50%;
}
.second-row::after {
    content: "";
    clear: both;
    display: table;
}
.footer{
    width: 100%;
    margin-top: 20px;
    /* for debug */
    height: 100px;
    background-color: violet;
    margin-bottom: 20px;
}


